body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #f87c7c;
}

header {
    background-color: #33b5f1;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1, h2 {
    color: #f55656;
    text-align: center;
}

p {
    line-height: 1.6;
    margin-bottom: 1em;
}

section {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #f51818;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}